chain/network/crypto-config/
chain/network/interlace-channel.tx
chain/network/interlace-genesis.block
chain/package.json
chain/package-lock.json
chain/.composer
chain/*.card
chain/*.bna
chain/node_modules
webapp/node_modules
.composer/
*.bna
node_modules/
temp
